/**
 * @file App.css
 * @description 
 * @author 
 * @copyright 
 */

 @theme {
    --font-poppins: "Poppins", "sans-serif";
    --font-pss: "Lobster", "sans-serif";
    --font-one: "Lilita One", "sans-serif";
   
  }